crash-reports
disabledmods
ESM
jarmods
journeymap
local
localconfigs
logs
mods
patchouli_books
resourcepacks
saves
schematics
screenshots
1.19.2-Hardcore 1.19.2.mrpack
1.19.2-Hardcore 1.19.2.zip
options.txt
instance.json
instance.png
o_prof
patchouli_data.json
reauth.toml
rhino.local.properties
usercache.json
usernamecache.json
kubejs/exported
config/fastload.properties
